@charset "UTF-8";

body {
  background-color: #eee;
}
a {
  text-decoration: none;
  color: black;
}

.container {
  & ol {
    display: flex;
    flex-direction: column;
    & li {
      margin-bottom: 10px;
      & a {
        // outline: 1px solid black;
      }
    }
  }
}
